a {
text-decoration: none;
}
html{
  font-family: 'Jost', sans-serif;
font-size: 1.000em;
background: linear-gradient(white, rgb(227, 223, 253));
width: 97vw;
min-height: 100vh;
}
.signFrame{
text-align: center;
background-color: snow;
border-radius: 10px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 200px;
height: 300px;
}
.registerBTN{
margin: 10px 0;
}