<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
<div id='desktop-1' class='desktop-1'>
    <form action="/board/login" method="post">
        <div id='rectangle1' class='rectangle1'>
            <input type="text" placeholder="ID를 입력해주세요" autocomplete="on" class="text-field">
        </div>
        <div id='rectangle2' class='rectangle2'>
            <input type="password" placeholder="Password를 입력해주세요" class="text-field">
        </div>
        <div id='rectangle3' class='rectangle3'>
            <button type="submit" class="submit-btn"> LOGIN</button>
        </div>
    </form>
</div>
</body>
</html>