<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>Document</title>
  <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<header class="header">
  <div class="head">
    <h2>Mi.storia</h2>
    <input class="searchBar" type="text"/>
  </div>
  <div class="navBar">
    <p>home</p>
    <p onclick="challengePopup()">challenge</p>
    <p>my page</p>
    <div class="imgtag">
      <img alt="writing" src="/writing.png"/>
      <img alt="list" src="/list.png"/>
    </div>
  </div>
</header>
<p>hot topic</p>
<div class="hotTop">
  <img alt="" class="hotTopImg" src=""/>
  <img alt="" class="hotTopImg" src=""/>
  <img alt="" class="hotTopImg" src=""/>
  <img alt="" class="hotTopImg" src=""/>
  <img alt="" class="hotTopImg" src=""/>
</div>
</body>
<div class="popup hidden" id="popup">
  <div class="popup-content">
    <span class="close" onclick="closePopup()">&times;</span>
    <h2>challenge!</h2>
    <p id="challengeContent"></p>
    <button onclick="challenging()">글쓰러가기</button>
  </div>
</div>
<footer>
  <script>
      closePopup = () => {
        const popup = document.getElementById("popup");
        popup.style.display = "none";
      };
      challengePopup = () => {
        const popup = document.getElementById("popup");
        popup.style.display = "block";
      };
      challenging = () => {
        localStorage.setItem(challenge, "");
      };
      const keywords = [
  'JanuaryKeyword',
  'FebruaryKeyword',
  'MarchKeyword',
  'AprilKeyword',
  'MayKeyword',
  'JuneKeyword',
  'JulyKeyword',
  'AugustKeyword',
  'SeptemberKeyword',
  'OctoberKeyword',
  'NovemberKeyword',
  'DecemberKeyword'
];

const currentDate = new Date();
const currentMonth = currentDate.getMonth();

const selectedKeyword = keywords[currentMonth];
document.getElementById("challengeContent").value = selectedKeyword;

  </script>
</footer>
</html>
