<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>detail</title>
  <link rel="stylesheet" href="/css/memberDetail.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
<table>
  <tr>
    <th>email</th>
    <th>name</th>
  </tr>
  <tr>
    <td th:text="${member.memberEmail}"></td>
    <td th:text="${member.memberName}"></td>
  </tr>
</table>
<div class="password">
 <p>PassWord</p>
 <p>🫡저희도 몰라여🫡</p>
</div>
<div class="section">
<a href="/member/update">정보 수정</a>
<a href="/board/main">홈 으로</a>
</div>
</body>
</html>
