<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./mistoria join.css">
    <title>회원가입</title>
</head>
<body>
<div id='desktop-1' class='desktop-1'>
    <form>
        <div id='ID_form' class='ID_form'>
            <input type="text" placeholder="ID" class="text-field">
        </div>
        <div id='password_form' class='password_form'>
            <input type="text" placeholder="Password" class="text-field">
        </div>
        <div id='name_form' class='name_form'>
            <input type="text" placeholder="이름" class="text-field">
        </div>
        <div id='number_form' class='number_form'>
            <input type="text" placeholder="전화번호" class="text-field">
        </div>
        <div id='join_button_form' class='join_button_form'>
            <button type="submit" class="submit-btn"> 회원가입</button>
        </div>
    </form>
</div>
</body>
</html>