<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/writing.css">
    <title>Mi.storia</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
<div id='desktop-2' class='desktop-2'>
    <form action="/board/save" method="post" enctype="multipart/form-data">
        <input type="text" name="boardWriter" id="boardWriter" class="hidden">
        <div class="writeFrame">
            <input placeholder="제목을 입력해주세요" class="boardTitle" type="text" name="boardTitle" id="boardTitle">
            <textarea class="boardContent" name="boardContents" id="boardContent"></textarea>
            <input value="첨부파일" placeholder="첨부파일" type="file" name="boardFile">
            <input type="submit" value="글작성" class="submit" id="submit">
        </div>
    </form>
</div>
<script th:inline="javascript">
    if (localStorage.getItem("challengeIs")==="true"){
        document.getElementById('boardTitle').value="["+localStorage.getItem("challengeTopic")+"]"
    }
    var memberName = /*[[${member.memberName}]]*/ '';
    document.getElementById("boardWriter").value = memberName;

    const input = document.getElementById('boardTitle');
    const textarea = document.getElementById('boardContent');

    textarea.addEventListener('input', function() {
       textarea.style.height = 'auto'; // Reset the height to auto
       textarea.style.height = textarea.scrollHeight + 'px'; // Set the height based on content
    });
</script>
</body>
</html>
